nav.desktop-menu {
    margin-left: auto;
    margin-right: auto;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin-right: 124px;
    display: flex;
}

.desktop-menu li {
    margin-right: 30px;
}

.desktop-menu a {
    font-size: 22px;
    font-weight: bold;
}

header {
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
}